
em{color:#d7a08c ; font-style:oblique;text-decoration:underline}
div{color:blue}
span{color:#746265}
img{float:right}
body{background-image:url("7560_Famous-movie-Lord-of-the-Rings-HD-wallpapers.jpg");}
.heading{color:aqua ; font-style:italic;text-decoration:underline}